@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
}
header{
    background: url(img/header.jpg);
    background-size: cover;
    background-position:center;
    height: 300px;
}
header h1{
    text-align: center;
    font-size: 35px;
    /* background-color: #000; */
    color: #000000;
    padding: 30px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: rgb(226, 211, 9);
    color: #000000;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14PX;
}


.plan{
    border-radius: 10px;
    background-color: #ffffff;
}
.plan button{

    border-radius: 5px;
}







  html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(204, 194, 51) 50%, rgb(255, 136, 0) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
     
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }



/* Add a black background color to the top navigation */
.topnav {
  background-color: #0a0a0a;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
  /************************

Footer

************************/

footer{
    background-color: #f5eabb;
    color: var(--second-c);
  }
  footer ul{
    padding:0;
  }
  footer li{
    list-style: none;
  }
  .wrap-footer{
    display: grid;
    grid-template-columns: 30% 15% 15% 20%;
    column-gap: 5%;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
  }
  .logo-element_footer{
    display: flex;
    margin: 2rem 0;
  }
  .logo-element_footer img{
    max-height: 75px;
  }
  .element-footer h5{
    margin: 1rem 0;
  }
  .text-element-footer li{
    line-height: 2;
  }
  .link-elements-footer li a{
    color:rgb(0, 0, 0);
  }
  .rrss-element-footer ul{
    display: flex;
    flex-flow: wrap;
  }
  .rrss-element-footer img{
    width: 35px;
  }
  .rrss-element-footer li{
    margin-right: 1rem;
  }
  .footer-creds{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    color: #576171;
    font-size: .9rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  .legal-creds ul{
    display: flex;
    flex-flow: row;
  }
  .legal-creds ul li{
    padding-right: 1rem;
  }
  .legal-creds ul a{
    color: #576171;
    font-size: .9rem;
  }













  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.cart {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ffffff1e;
    border-radius: 10px;
    background-color: rgba(238, 155, 0, 0.747);
    
    
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.product {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 5px;
    background-color: #fff;
  }
  .miepayco{
    width: 70%;
   
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;

  }

.banner img{
  width: 300px;
  margin-left: 10%;

  
}








.product img {
    max-width: 100%;
    height: auto;
}

.details {
    margin-top: 10px;
}

.buy-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-summary {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.cart-items {
    flex: 1;
}

.cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.total {
    flex: 1;
    text-align: center;
    background-color: #f2f2f252;
    

}

.checkout-btn {
    background-color: #059736;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


/* eliminar no deseado */
.remove-btn {
  background-color: #ff6666;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 5px;
}


















  
.plans-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
    margin-top: 0%;
  }
  
  .plan {
    flex: 0 0 calc(33.33% - 20px);
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .plan h2 {
    color: #333;
  }
  
  .price {
    font-size: 1.2em;
    color: #007bff;
    margin-top: 10px;
  }
  
  .description {
    margin-top: 10px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
